@charset "utf-8";

main{padding-top: 120px;}

.badges{
    width: 130px;
    position: fixed;
    right: 5px;top: 125px;
    z-index: 90;

}

.badges img{
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
}
/* 비주얼 영역서식 */
.visual{
    background-image:url(../images/visual_bg.jpg);
}
.visual>h2{display: none;}
.visual .inner{
    width: 1100px;
    height: 646px;

    position: relative;/*자식요소의 기준*/
}

.title, .cup1, .cup1_txt, .cup2, .cup2_txt, .spoon{
    position: absolute;
}
.title{
    top: 40px;
    left: -10px;

}
.cup1{bottom: 0px; right: -47px;}
.cup1_txt{top: 40px;right: 60px;}
.cup2{bottom: 0px; right: 162px;}
.cup2_txt{top: 186px; right: 412px;}
.spoon{bottom: 0px; left: 275px;}

.detail_btn{
    width: 130px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #592b18;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: block;
    transition: 0.4s;
    color: #592b18;
    transform: translateX(135px);
}
.detail_btn:hover{
color: #ffff;
background: #592b18;
}
.fadein{
    opacity: 0;
}

/* 공지사항 서식 */
.notice{
    height: 62px;
    background: rgb(51,51,51);
background: linear-gradient(90deg, rgba(51,51,51,1) 61.5%, rgba(246,245,239,1) 61.5%);
}
.n_inner{
    width: 1100px;
    position: relative;
    margin: 0px auto;
display: flex;
}
.n_inner h2{
    width: 90px;
    line-height: 62px;
    font-size: 16px;
}
.n_inner__left{
   width: 70%;
display: flex;

   overflow: hidden;
  
}
.n_inner__left h2{color: #ffff;

margin-right: 20px;
width: 100px;line-height: 58px;
padding: 0px 10px 0px 20px;
}
/*기호버튼 서식*/
.n_inner__left i{color: #fff;
font-size: 30px;
padding: 15px 20px 0px 0px;
}
.n_inner__right{width: 30%;

display: flex;

justify-content: flex-end;
align-items: center;  /* 수평맞추기 */


}
.n_inner__right h2{
    width: 120px;
    color: #333;line-height: 60px;
}
.n_inner__right i{
    font-size: 30px;
  
}

.snotice {
    width: 100%;
    height: 62px;

  }

.snotice .swiper-slide {
font-size: 18px;

   
  }

.snotice .swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
  }
  .snotice .swiper-slide >a{
    color: #fff; font-size: 12px;
    display: block;
    padding-top: 25px;
  }

  /* 프로모션 서식 */

  .promotion{
    display: flex;
justify-content: center;
background: #f6f5ef;
position: relative;
overflow: hidden;
height: 663px;
transition: 0.4s;

}

/* 버튼클릭시 프로모션박스에 적용할 서식 */
.hide{
  height: 0px !important;
}


  .proSlide{
    width: calc(819px * 3 + 10px * 2);/**띄어쓰기 필수;*/
    height: 553px;
    flex-shrink: 0;
    position: relative;
  }
  .proSlide h2{
display: none;
  }
  .proSlide .swiper-slide{
    text-align: center;
  }
  .proSlide .swiper{margin-left: auto;
margin-right: auto;
position: relative;
overflow: hidden;
}

  .proSlide .swiper-wrapper{
    display: flex;

  }
  .proSlide .swiper-pagination{
    position: absolute;
    bottom: 0px;
  }

  .proSlide .swiper-button-prev,  .proSlide .swiper-button-next{
  
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid #333;
    top: 270px; 
    text-align: center;
    padding: 7px;
    box-sizing: border-box;
    color: #333;
  }

  .proSlide .swiper-button-prev{
   
    left: 50%;
   margin-left: -480px;
  }
  
  .proSlide .swiper-button-next{
  
    right: 50%;
    margin-right: -480px;
  }
  .promotion .swiper-button-next:hover,
  .promotion .swiper-button-prev:hover{background-color: #333;
color: #fff;}

.promotion .swiper-button-next::after,
.promotion .swiper-button-prev::after{
    display: none;
}
  .promotion .swiper-slide{
    position: relative;
    opacity: .5;
    transition: opacity 1s;

  }
  .promotion .swiper-slide-active{
    opacity: 1;
  }

  .promotion .swiper-slide .btn{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
   
  }
  .promotion .swiper-slide .btn:hover{
    background-color: #333;
    color: #fff;
  }
  .promotion .swiper-pagination{
    bottom: 40px !important;
    z-index: 1;
  }
  .promotion .swiper-pagination .swiper-pagination-bullet{
    background-color: transparent;
    background-image: url(../images/promotion_slide_pager.png);
    width: 13px;
    height: 12px;
    margin-right: 6px;
  }
  .promotion .swiper-pagination .swiper-pagination-bullet:last-child{
    margin-right: 0;
  }
  .promotion .swiper-pagination .swiper-pagination-bullet-active{
    background-image: url(../images/promotion_slide_pager_on.png);

  }

  /* 리워드 */
  .reward{
    height: 241px;
    background: rgb(39,39,39);
background: linear-gradient(90deg, rgba(39,39,39,1) 50%, rgba(213,199,152,1) 50%);
  }
  .reward_inner{
    background-image: url(../images/rewards.jpg);
    width: 1100px;
    height: 241px;
    margin: 0 auto;
position: relative;
  }
  .btn_group{
    position: absolute;
    right: 0px;
    bottom: 30px;
    width: 290px;

  } 
  .btn{
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    text-align: center;
    cursor: pointer;
    display: block;
    transition: .4s;
    height: 40px;
    font-weight: bold;
  }


.btn:hover{
    background-color: #333;
    color: #fff;
  }

  .gift{
    width: 250px;

  }

  .btn_join{
    background-color: #333;
    color: #fff;
  }

  .btn_join:hover{
    color: #333;
    background-color: transparent;
  }


  .btn_join, .btn_login{
    display: inline-block !important;
    width: 123px;
    height: 45px;
    margin-bottom: 10px;
    line-height: 22px;
  }

  /*영상콘텐츠*/
  .movie{
    width: 100%;
    height: 700px;
    background-color: #333;
  
    position: relative;
  }
.movie .m_inner{
  width: 1100px;height: 700px;
  margin: 0px auto;

  position: relative;
  z-index: 12;
}
.movie .m_inner img{
  position: absolute;
}
.m_img1{left: -60px; top: 30px;
  animation-name:m_img1;
  animation-iteration-count: infinite;
  animation-duration: 4s;

}

@keyframes m_img1{
  0%{top: 0px;}
  50%{top:15px;}
  100%{top: 0px;}
}
.m_img2{left: 80px;top: 360px;
  animation: m_img2 infinite 5.5s;
  overflow: hidden;
}
@keyframes m_img2{
  0%{top: 360px;}
  50%{top: 380px;}
  100%{top:360px;}
}
.m_img3{right: 0px ;bottom: -60px;

animation: m_img3 infinite 6s;
}
@keyframes m_img3{
  0%{bottom: -60px;}
  50%{bottom: -90px;}
  100%{bottom: -60px;}
}

.youtube{
  width: 1920px;
  height:700px;
  position: absolute;top: 0px;
  left: 0px;
  z-index: 10;
}

.youtube video{
  width: 100%;
  height: 100%;
}

.cover{
  position: absolute;
  top: 0px;left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../images/video_cover_pattern.png);
  z-index: 11;
}

.season-product{
  background-image: url(../images/season_product_bg.jpg);
  height: 400px;

}
.season-product h2{
  display: none;
}
.inner{
  width: 1100px;
  margin: 0px auto;
  position: relative;                         
}
.season-product .coffee01{
  position: absolute;
}
.season-product .txt_group{
position: absolute;
top: 110px;
right: 100px;
width: 480px;
text-align: left;
}

.season-product .c_title{
  margin-bottom: 10px;


}
.season-product .description{
  margin-bottom: 15px;

}
.season-product .txtgroup .btn{
  transform: none;
}
.reserve-coffee{
  background-image: url(../images/reserve_bg.jpg);
}
.reserve-coffee .inner{
  height: 400px;
}

.reserve-coffee .reserve-logo{
  position: absolute;
  top: 110px;
  left: 0;
}

.reserve-coffee .txt-group{
  position: absolute;
  top: 124px;
  left: 208px;

}
.reserve-coffee .product{
  position: absolute;
  top: 0;
  right: 0;
}
.reserve-coffee .btn{
  border: 3px solid #946551;
  color: #9b6750;
}
/* pickyourfavorite */
.pick-your-favorite{
  height: 706px;
  background-image: url(../images/favorite_bg.jpg);
}
.pick-your-favorite .inner{
  padding: 110px 0;
}
.pick-your-favorite .txt-group{
  width: 362px;
  margin-left: 100px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

}
.pick-your-favorite .txt-group .c_title{
  margin-bottom: 40px;
}
.pick-your-favorite .txt-group .description{
  margin-bottom: 40px;
}
.pick-your-favorite .btn{
  color: #fff;
  border: 2px solid #fff;
}

/* reservestore */
.reserve-store{
  background-image: url(../images/reserve_store_bg.jpg);

}
.reserve-store .inner{
  height: 600px;
}
/* findstore */
.find-store{
  background-image: url(../images/find_store_bg.jpg);
}
.find-store .inner{
  height: 400px;
}
.find-store .texture1{
  position: absolute;
  top: 0;
  left: 400px;
}
.find-store .texture2{
  position: absolute;
  bottom: 0;
  right: 0;
}
.find-store .picture1{
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .5);
  position: absolute;
  top: -60px;
  left: 0;
}

.find-store .picture2{
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0 rgba(0, 0 , 0, .5);
  position: absolute;
  top: 150px;
  left: 250px;
}
.find-store .txt-group{
  position: absolute;
  top: 120px;
  left: 550px;
}
.find-store .txt-group .c_title{
  margin-bottom: 20px;
}
.find-store .txt-group .description{
  margin-bottom: 20px;
}